<div [ngClass]="{'loading':true ,'loading-visible': cargando != 0 }">
  <div class="loader-container">
      <i class="now-ui-icons loader_refresh spin"></i> 
  </div>
</div>

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
            <i _ngcontent-c25="" class="now-ui-icons arrows-1_minimal-left pr-3" (click)="regresaHerramientas();"></i>
            Equipo de Seguridad {{this.equipoForm.getRawValue().nombre}}
          </h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()"  [formGroup]=equipoForm #formDir="ngForm">
            <div class="row">
              <div class="col-md-12 col-12">
                <div class="form-group">
                  <label for="id_equipoDeSeguridad">Ctrl</label>
                  <input type="text" id="id_equipoDeSeguridad" class="form-control" required placeholder="Ctrl" formControlName="id_equipoDeSeguridad">
                </div>
                <div *ngIf="id_equipoDeSeguridad.invalid && (id_equipoDeSeguridad.dirty || id_equipoDeSeguridad.touched)" class="alert alert-danger">
                  <div *ngIf="id_equipoDeSeguridad.errors.required">
                    Nombre requerido.
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" id="nombre" class="form-control" required placeholder="Nombre" formControlName="nombre">
                </div>
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                  <div *ngIf="nombre.errors.required">
                    Nombre requerido.
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="noDeSerie">N&uacute;mero de serie</label>
                  <input type="text" id="noDeSerie" class="form-control" required placeholder="N&uacute;mero de serie" formControlName="noDeSerie">
                </div>
                <div *ngIf="noDeSerie.invalid && (noDeSerie.dirty || noDeSerie.touched)" class="alert alert-danger">
                  <div *ngIf="noDeSerie.errors.required">
                    Número de Serie requerido.
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="costo">Costo</label>
                  <input type="text" id="costo" class="form-control" required placeholder="Costo" formControlName="costo">
                </div>
                <div *ngIf="costo.invalid && (costo.dirty || costo.touched)" class="alert alert-danger">
                  <div *ngIf="costo.errors.required">
                    Costo requerido.
                  </div>
                  <div *ngIf="costo.errors.pattern">
                    Costo solo debe contener decimales (precisi&oacute;n a centecimas) o enteros
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="aprobable">¿Caduca?</label>
                  <select class="form-control"  id="aprobable" required name="id_concretera" formControlName="aprobable" (change)="onChangeAprobable()">
                    <option value=""  selected >Selecciona...</option>
                    <option value="0"  >No</option>
                    <option value="1"  >Si</option>                   
                  </select>                
                </div>
                <div *ngIf="aprobable.invalid && (aprobable.dirty || aprobable.touched)" class="alert alert-danger">
                  <div *ngIf="aprobable.errors.required">
                    Este campo es requerido requerido.
                  </div>
                </div>
              </div> 
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="fechaDeFrabricacion">Fecha de Fabricaci&oacute;n</label>
                  <input type="date" id="fechaDeFrabricacion" class="form-control" required placeholder="Fecha de Fabricaci&oacute;n" formControlName="fechaDeFrabricacion">
                </div>
                <div *ngIf="fechaDeFrabricacion.invalid && (fechaDeFrabricacion.dirty || fechaDeFrabricacion.touched)" class="alert alert-danger">
                  <div *ngIf="fechaDeFrabricacion.errors.required">
                    Fecha de Fabricación requerida.
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="diasValidos">Dias v&aacute;lidos</label>
                  <input type="text" id="diasValidos" class="form-control" placeholder="Dias v&aacute;lidos" required formControlName="diasValidos">
                </div>
                <div *ngIf="diasValidos.invalid && (diasValidos.dirty || diasValidos.touched)" class="alert alert-danger">
                  <div *ngIf="diasValidos.errors.required">
                    Este campo es requerido requerido.
                  </div>
                  <div *ngIf="diasValidos.errors.pattern">
                    Este campo es num&eacute;rico
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="diasAmarillos">Dias amarillos</label>
                  <input type="text" id="diasAmarillos" class="form-control" required placeholder="Dias amarillos" formControlName="diasAmarillos">
                </div>
                <div *ngIf="diasAmarillos.invalid && (diasAmarillos.dirty || diasAmarillos.touched)" class="alert alert-danger">
                  <div *ngIf="diasAmarillos.errors.required">
                    Dias amarillos requeridos.
                  </div>
                  <div *ngIf="diasAmarillos.errors.pattern">
                    Este campo es num&eacute;rico
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="diasRojos">Dias rojos</label>
                  <input type="text" id="diasRojos" class="form-control" required placeholder="Dias rojos" formControlName="diasRojos">
                </div>
                <div *ngIf="diasRojos.invalid && (diasRojos.dirty || diasRojos.touched)" class="alert alert-danger">
                  <div *ngIf="diasRojos.errors.required">
                    Dias rojos requeridos.
                  </div>
                  <div *ngIf="diasRojos.errors.pattern">
                    Este campo es num&eacute;rico
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-group"  style="float: right; padding-right: 10%;">
              <button class="btn btn-info"   *ngIf="hidden" (click)="mostrar();">
                <span><b> Cambiar datos </b></span>
              </button>
              <button class="btn btn-success"  [disabled]="equipoForm.invalid" *ngIf="!hidden" (click)="actualizarCertificacion();">
                <span><b> Guardar Cambios </b></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card">
        <div class="image">
          <img src="../assets/img/Labo.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <div class="col-md-6 ml-auto mr-auto">
              <button type="button" class="btn btn-danger btn-round " (click)="desactivarHerramienta()" *ngIf="desBut">Desactivar</button>
              <button type="button" class="btn btn-success btn-round " (click)="activarHerramienta()" *ngIf="actBut">Activar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
