
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
<div class="row">
    <div class="col-lg-12 col-12 col-md-12">
      <div class="card card-chart">
        
        <div class="card-body">
         <form (ngSubmit)="onSubmit()" [formGroup]=formatoCCHForm #formDir="ngForm">
            <h5>AGREGA REGISTRO REVENIMIENTO</h5>
            <div class="row"> <!--PRIMER ROW -->
              
              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="fecha">FECHA DE DETERMINACI&Oacute;N</label> <!--disable-->
                    <input type="date" id="fecha"   
                    class="form-control" 
                    name="fecha" placeholder="" formControlName="fechaDet" (blur)="onBlurFechaDet()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="revProy">REV. DE PROYECTO EN cm.</label> <!--disable-->
                    <input type="text" id="revProy"   
                    class="form-control" 
                    name="revProy" placeholder="" formControlName="revProy" (blur)="onBlurRevProy()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="revObtenido">REV. OBTENIDO EN cm.</label> <!--disable-->
                    <input type="text" id="revObtenido"   
                    class="form-control" 
                    name="revObtenido" placeholder="" formControlName="revObtenido" (blur)="onBlurRevObtenido()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

            </div> <!--FIN PRIMER ROW -->

          
            <div class="row">
              <div class="col-md-4 col-12"> <!--SEGUNDO GRID -->
                  <div class="form-group"><!--SEGUNDO CAMPO -->
                    <label for="tamAgregado">TAMAÑO NOMINAL DEL AGREGADO mm</label>
                    <input type="text" id="tamAgregado"  
                    class="form-control" 
                    name="tamAgregado" placeholder="" formControlName="tamAgregado" (blur)="onBlurTamNomAg()">
                     <div *ngIf="tamAgregado.invalid && (tamAgregado.dirty || tamAgregado.touched)"
                      class="alert alert-danger">
                        <div *ngIf="tamAgregado.errors.required">
                          No. de orden requerido.
                        </div>
                      </div>
                  </div> <!--FIN SEGUNDO CAMPO -->
                </div> <!--FIN SEGUNDO GRID -->

              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="idConcreto">IDENTIFICACI&Oacute;N DEL CONCRETO</label> <!--disable-->
                    <input type="text" id="idConcreto"   
                    class="form-control" 
                    name="idConcreto" placeholder="" formControlName="idConcreto" (blur)="onBlurIdConcreto()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-4 col-12"> <!--SEGUNDO GRID -->
                  <div class="form-group"><!--SEGUNDO CAMPO -->
                    <label for="hDet">HORA DE LA DETERMINACI&Oacute;N</label>
                    <input type="time" id="hDet"  
                    class="form-control" 
                    name="hDet" placeholder="" formControlName="hDet" (blur)="onBlurHoraMuestreo()">
                  </div> <!--FIN SEGUNDO CAMPO -->
                </div> <!--FIN SEGUNDO GRID -->
            </div>

            <div class="row">
              <div class="col-md-4 col-12"> <!--SEGUNDO GRID -->
                  <div class="form-group"><!--SEGUNDO CAMPO -->
                    <label for="unidad">UNIDAD</label>
                    <input type="text" id="unidad"  
                    class="form-control" 
                    name="unidad" placeholder="" formControlName="unidad" (blur)="onBlurUnidad()">
                  </div> <!--FIN SEGUNDO CAMPO -->
                </div> <!--FIN SEGUNDO GRID -->

              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="tconcreto">PROVEEDOR DEL CONCRETO</label> <!--disable-->
                    
                   <select  class="form-control" id="provCon" 
                    name="provCon"
                    placeholder="Concreteras"  formControlName="provCon" (change)="onBlurTipoConcreto()">
                    <option value="" [disabled]="true">Selecciona un proveedor de concreto...</option>
                    
                    <option *ngFor="let provCon of mis_concreteras" [value]="provCon.id_concretera">
                      {{provCon.concretera}}
                    </option>
                  </select>
                    
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->

              <div class="col-md-4 col-12"> <!--PRIMERA GRID -->
                  <div class="form-group"><!--PRIMER CAMPO -->
                    <label for="numRem">NUMERO DE REMISI&Oacute;N</label> <!--disable-->
                    <input type="text" id="numRem"   
                    class="form-control" 
                    name="numRem" placeholder="" formControlName="numRem" (blur)="onBlurNumeroRemision()">
                  </div><!--FIN PRIMER CAMPO -->
              </div> <!--FIN PRIMERA GRID -->
            </div>

            <div class="row">
               
             <div class="col-md-6 col-12"> <!--SEGUNDO GRID -->
                  <div class="form-group"><!--SEGUNDO CAMPO -->
                    <label for="hsalida">HORA DE SALIDA DE PLANTA</label>
                    <input type="time" id=""  
                    class="form-control" 
                    name="hsalida" placeholder="" formControlName="hsalida" (blur)="onBlurHoraSalida()">
                     <div *ngIf="hsalida.invalid && (hsalida.dirty || hsalida.touched)"
                      class="alert alert-danger">
                        <div *ngIf="hsalida.errors.required">
                          No. de orden requerido.
                        </div>
                      </div>
                  </div> <!--FIN SEGUNDO CAMPO -->
                </div> <!--FIN SEGUNDO GRID -->

                <div class="col-md-6 col-12"> <!--SEGUNDO GRID -->
                  <div class="form-group"><!--SEGUNDO CAMPO -->
                    <label for="hllegada">HORA DE LLEGADA A OBRA</label>
                    <input type="time" id="hllegada"  
                    class="form-control" 
                    name="hllegada" placeholder="" formControlName="hllegada" (blur)="onBlurHoraLlegada()">
                     <div *ngIf="hllegada.invalid && (hllegada.dirty || hllegada.touched)"
                      class="alert alert-danger">
                        <div *ngIf="hllegada.errors.required">
                          No. de orden requerido.
                        </div>
                      </div>
                  </div> <!--FIN SEGUNDO CAMPO -->
                </div> <!--FIN SEGUNDO GRID -->
            </div> <!--FIN DEL ROW -->

            <div class="row">
              <div class="col-md-2 col-12">
                 
                    <button class="btn btn-danger" *ngIf="!hidden"  (click)="descartaCambios()">
                      <span><b> Eliminar Registro </b></span>
                    </button>
                  

                  <button class="btn btn-default" *ngIf="hidden" [disabled]="formatoCCHForm.invalid" (click)="registroCompletado();">
                    <span><b> Regresar. </b></span>
                  </button>

                  
                
              </div>
              <div class="col-md-6 col-md-offset-6 col-12">

              </div>
              <div class="col-md-2 col-12">

                <button class="btn btn-success" *ngIf="hidden" [disabled]="formatoCCHForm.invalid" (click)="mostrar();">
                    <span><b> Cambiar Datos. </b></span>
                  </button>

                <button class="btn btn-default" *ngIf="!hidden" (click)="llenarDespues()">
                      <span><b> Llenar mas tarde. </b></span>
                </button>
              </div>
              <div class="col-md-2 col-12">
                <button class="btn btn-success" *ngIf="!hidden" (click)="validaCamposVacios()">
                      <span><b> Registro Completo. </b></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
