<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
          <i _ngcontent-c25="" class="now-ui-icons arrows-1_minimal-left pr-3" (click)="regresaUsuario();"></i>
          Crear Herramienta</h5>
        </div>
        <div class="card-body">
         <form (ngSubmit)="onSubmit()" #herramientaForm="ngForm">
            <div class="row">

              <div class="col-md-6 col-12">
                 <div class="form-group">
                  <label for="herramienta_tipo_id">Tipos</label>
                  <select  class="form-control" id="herramienta_tipo_id"
                    required [(ngModel)]="model.herramienta_tipo_id"
                    name="herramienta_tipo_id"
                    placeholder="Tipos" #herramienta_tipo_id="ngModel">
                    <option value="" [disabled]="true">Selecciona el tipo...</option>
                    <option *ngFor="let tipo of mis_tipos" [value]="tipo.id_herramienta_tipo">
                      {{tipo.tipo}}
                    </option>
                  </select>
                  <div [hidden]="herramienta_tipo_id.valid || herramienta_tipo_id.pristine"  class="alert alert-danger">
                    Rol requerido.
                  </div>
                </div>
              </div>

            <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="placas">Placas</label>
                  <input type="text" id="placas"  
                   [(ngModel)]="model.placas" 
                  class="form-control" 
                  name="placas" placeholder="" #placas="ngModel">
              </div>
                </div>
            </div>

            <div class="row">
                
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Condicion</label>
                  <select type="text" id="condicion" required [(ngModel)]="model.condicion" name="condicion" class="form-control" placeholder="Condicion" #condicion="ngModel">
                    <option value="" [disabled]="true">Selecciona el condici&oacute;n...</option>
                    <option *ngFor="let condicion of condi" [value]="condicion.id">
                      {{condicion.condicion}}
                    </option>
                  </select>
                   <div [hidden]="condicion.valid ||condicion.pristine"  class="alert alert-danger">
                    Condicion de la herramienta requerida.
                </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="fechaDeCompra"> Fecha de compra.</label>
                  <input type="date" id="fechaDeCompra" required [(ngModel)]="model.fechaDeCompra" class="form-control" name="fechaDeCompra" placeholder="" #fechaDeCompra="ngModel">
                  <div [hidden]="fechaDeCompra.valid ||fechaDeCompra.pristine"  class="alert alert-danger">
                    Fecha de compra requerida.
                </div>
                </div>
              </div>
            </div>

            
            <div class="btn-group" style="float: right; padding-right: 10%;">
            <button class="btn btn-success" (click)="crearHerramienta(placas.value, herramienta_tipo_id.value, condicion.value, fechaDeCompra.value ); aver(placas.value, herramienta_tipo_id.value, condicion.value, fechaDeCompra.value);">
              <span><b> Guardar Cambios </b></span>
            </button>
          </div>
          </form>
        </div>
      </div>
    </div>
    
</div>
