<div [ngClass]="{'loading':true ,'loading-visible': cargando != 0 }">
    <div class="loader-container">
        <i class="now-ui-icons loader_refresh spin"></i> 
    </div>
</div>

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
            Perfil de {{this.userForm.value.nombre + ' '+ this.userForm.value.apellido}}
          </h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]=userForm #formDir="ngForm">
            <div class="row">
              <div class="col-md-6 col-12 ">
                <div class="form-group">
                  <label for="id_usuario">Ctrl</label> 
                  <input type="text" class="form-control" id="id_usuario" required name="id_usuario" placeholder="Puesto" formControlName="id_usuario" >
                </div>
              </div>
              <div class="col-md-6 col-12 ">
                <div class="form-group">
                  <label for="rol_usuario_id">Rol / Privilegio</label> <!--tipo de credencial referido a puestos tales como jefe de laboratorio-->
                  <select   class="form-control"  id="rol_usuario_id "required name="rol_usuario_id" placeholder="Puesto" formControlName="rol_usuario_id">
                    <option value="Selecciona un rol..."  selected>Selecciona un rol...</option>
                    <option *ngFor="let puesto of mis_roles" [value]="puesto.id_rol_usuario">
                      {{puesto.rol}}
                    </option>
                  </select>
                  <div *ngIf="rol_usuario_id.invalid && (rol_usuario_id.dirty || rol_usuario_id.touched)" class="alert alert-danger">
                    <div *ngIf="rol_usuario_id.errors.required">
                      Puesto requerido.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12 ">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" id="nombre"  required class="form-control" placeholder="Nombre" formControlName="nombre" >
                  <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">            
                    <div *ngIf="nombre.errors.required">
                      Nombre requerido.
                    </div>
                  </div>
                </div>
              </div>
              <div class=" col-md-6 col-12 ">
                <div class="form-group">
                  <label>Apellidos</label>
                  <input type="text" id="apellido"  required name="apellido" class="form-control" placeholder="Apellidos" formControlName="apellido" >
                  <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger">            
                    <div *ngIf="apellido.errors.required">
                      Apellido requerido.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-12 ">
                <div class="form-group">
                  <label for="emailCorporativo">Correo Electronico Coorporativo(Usuario de inicio de sesi&oacute;n)</label>
                  <input type="text" id="emailCorporativo"   required   class="form-control" name="emailCorporativo" placeholder="mail@lacocs.com" formControlName="emailCorporativo" >
                  <div *ngIf="emailCorporativo.errors && (emailCorporativo.dirty || emailCorporativo.touched)"class="alert alert-danger">
                    <div *ngIf="emailCorporativo.errors.required">Correo requerido.</div>
                    <div *ngIf="emailCorporativo.errors.pattern">El correo debe contener @</div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/Labo.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <img class="avatar border-gray" src="{{this.imgUrl}}" (click)="subirFoto()" alt="...">
            <h5 class="title">{{this.userForm.value.nombre + ' '+ this.userForm.value.apellido}}</h5>
            <p class="description">
              {{this.userForm.value.rol}}
            </p>
            <form (ngSubmit)="onSubmit()" [formGroup]=passwordForm #formDir="ngForm">
              <div class="form-group" [hidden]="desBut">
                <label for="password1">Contrase&ntilde;a</label>
                <input class="form-control"  required id="password1" formControlName="password1" placeholder="Contrase&ntilde;a" type="password" >
                <div *ngIf="password1.invalid && (password1.dirty || password1.touched)" class="alert alert-danger">            
                  <div *ngIf="password1.errors.required"> Contrase&ntilde;a requerida.</div>
                </div>
              </div>
              <div class="form-group" [hidden]="desBut">
                <label for="npassword">Contrase&ntilde;a</label>
                <input class="form-control" required id="npassword" formControlName="npassword" placeholder="Repite Contrase&ntilde;a"type="password" >
                <div *ngIf="npassword.invalid && (npassword.dirty || npassword.touched)" class="alert alert-danger">            
                  <div *ngIf="npassword.errors.required"> Contrase&ntilde;a requerida.</div>
                </div>
              </div>
              <div [hidden]= "!resppass" class="alert alert-danger">
                Las Contrase&ntilde;as no coinciden.
              </div>
              <div [hidden]= "!exitoCon" class="alert alert-success">
                Nueva contrase&ntilde;a actualizada
              </div>
              <div class="button-container">
                <button type="button" class="btn btn-info btn-round " (click)="cambiarContrasena()" *ngIf="desBut">Cambiar Contrase&ntilde;a</button>
                <button type="button" class="btn btn-success btn-round " [disabled]="passwordForm.invalid" (click)="guardarContrasena();" *ngIf="actBut">Guardar Contrase&ntilde;a</button>
              </div>
            </form>
          </div>
        </div>
        <hr>
        <div class="button-container">
          <div class="font-icon-detail">
            <i class="now-ui-icons ui-1_email-85"></i>
            <p>{{this.userForm.getRawValue().emailCorporativo}}</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
