<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
          <i _ngcontent-c25="" class="now-ui-icons arrows-1_minimal-left pr-3" (click)="regresaUsuario();"></i>
          Crear Herramienta</h5>
        </div>
        <div class="card-body">
         <form (ngSubmit)="onSubmit()" [formGroup]=herramientaForm #formDir="ngForm">
            <div class="row">

            <div class="col-md-12 col-12">
                <div class="form-group">
                  <label for="tipo">Tipo de herramienta</label>
                  <input type="text" id="tipo"  
                  class="form-control" 
                  name="tipo" placeholder="" required formControlName="tipo">
              </div>
         <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)" class="alert alert-danger">
                   <div *ngIf="tipo.errors.required">
                   Tipo de herramienta requerido.
                </div>
              </div>
            </div>
            </div>
            
            <div class="btn-group" style="float: right; padding-right: 10%;">
            <button class="btn btn-success" [disabled]="herramientaForm.invalid" (click)="crearTipoHerramienta(); ">
              <span><b> Guardar Cambios </b></span>
            </button>
          </div>
          </form>
        </div>
      </div>
    </div>
    
</div>


