
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="#">
            Cyrus Wireless
          </a>
        </li>
        <li>
          <a href="#">
            Acerca de nosotros
          </a>
        </li>
        <li>
          <a href="#">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed by
      <a href="https://www.facebook.com/TECH-4-U-241025296479596/?modal=admin_todo_tour" target="_blank">Cyrus Wireless</a>. Coded by
      <a href="https://www.facebook.com/TECH-4-U-241025296479596/?modal=admin_todo_tour" target="_blank">Cyrus Wireless</a>.
    </div>
  </div>
</footer>
