
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="http://cyrus.com.mx">
            Cyrus Wireless
          </a>
        </li>
        <li>
          <a href="http://cyrus.com.mx">
            Acerca de nosotros
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed by
      <a href="http://cyrus.com.mx" target="_blank">Cyrus Wireless</a>. Coded by
      <a href="http://cyrus.com.mx" target="_blank">Cyrus Wireless</a>.
    </div>
  </div>
</footer>
