<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Lista pendientes</h2>
  </div>
</div>
<div class="main-content">   
    <div class="col-md-6 ml-auto mr-auto text-center">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Pendientes.</h4>
        </div>
        <div class="card-body">
          <div class="alert alert-primary">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span>
              <b> En proceso - </b> Hay una obra en proceso.</span>
          </div>
         <!-- <div class="alert alert-info">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span>
              <b> Info - </b> This is a regular notification made with ".alert-info"</span>
          </div>-->
          <div class="alert alert-success">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span>
              <b> Exito </b> La obra ha finalizado</span>
          </div>
          <div class="alert alert-warning">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span>
              <b> Problema </b> Hay un problema en la obra.</span>
          </div>
         <!-- <div class="alert alert-danger">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span>
              <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
          </div>-->
        </div>
      </div>
    </div>
</div>
