<div [ngClass]="{'loading':true ,'loading-visible': cargando != 0 }">
    <div class="loader-container">
        <i class="now-ui-icons loader_refresh spin"></i> 
    </div>
</div> <!--Este Modulo Sirve Para Mostrar el Loading con flechas, mientras obtiene la info del servidor -->

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Configuración de Perfil</h5>
        </div>
        <div class="card-body">
           <form (ngSubmit)="onSubmit()" [formGroup]=userForm #formDir="ngForm">
            <div class="row">
              <div class="col-md-6 col-12 ">
                <div class="form-group">
                  <label for="id_usuario">ID Usuario</label> 
                  <input type="text" class="form-control" id="id_usuario"
                    required 
                    name="id_usuario"
                    placeholder="Puesto" formControlName="id_usuario" >
                </div> <!--FIN FORM GROUP-->
              </div> <!--FIN ID USUARIO-->

              <div class="col-md-6 col-12 ">
                <div class="form-group">
                  <label for="rol_usuario_id">Rol</label> <!--tipo de credencial referido a puestos tales como jefe de laboratorio-->
                  <select   class="form-control"  id="rol_usuario_id "
                    required 
                    name="rol_usuario_id"
                    placeholder="Puesto" formControlName="rol_usuario_id">
                    <option value="Selecciona un rol..."  selected>Selecciona un rol...</option>
                    <option *ngFor="let puesto of mis_roles" [value]="puesto.id_rol_usuario">
                      {{puesto.rol}}
                    </option>
                  </select>
                  <div *ngIf="rol_usuario_id.invalid && (rol_usuario_id.dirty || rol_usuario_id.touched)" class="alert alert-danger">
                   <div *ngIf="rol_usuario_id.errors.required">
                   Puesto requerido.
                   </div>
                  </div>
                </div>
              </div>
            </div> <!--FIN ROW-->
            <div class="row">
              <div class="col-md-6 col-12 ">
                <div class="form-group">
                  <label for="email">Correo Electronico</label>
                  <input type="email" id="email"   required   class="form-control" name="email" placeholder="mail@lacocs.com" formControlName="email" >
                    <div *ngIf="email.errors && (email.dirty || email.touched)"
                              class="alert alert-danger">
                      <div *ngIf="email.errors.required">Correo requerido.</div>
                      <div *ngIf="email.errors.pattern">El correo debe contener @</div>
                    </div>
                  </div>
                </div>
              <div class=" col-md-6 col-12">                
                <div class="form-group">
                  <label for="nss"> N&uacute;mero de Seguridad Social</label>
                  <input type="nss" id="nss"   class="form-control" name="nss" placeholder="555501234" formControlName="nss">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12 ">
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" id="nombre"  required   name="nombre" class="form-control" placeholder="Nombre" formControlName="nombre" >
                  <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                        class="alert alert-danger">            
                      <div *ngIf="nombre.errors.required">
                      Nombre requerido.
                      </div>
                  </div>
                </div>
              </div>
              <div class=" col-md-6 col-12 ">
                <div class="form-group">
                  <label>Apellidos</label>
                  <input type="text" id="apellido"  required name="apellido" class="form-control" placeholder="Apellidos" formControlName="apellido" >
                  <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
                    class="alert alert-danger">            
                    <div *ngIf="apellido.errors.required">
                     Apellido requerido.
                    </div>
                  </div>
                </div>
              </div>
            </div> <!--FIN ROW-->

            <div class="row">
              <div class="col-md-6  col-12 ">
                <div class="form-group">
                  <label for="laboratorio_id">Laboratorio</label> 
                  <select   class="form-control"  id="laboratorio_id"
                    required name="laboratorio_id" placeholder="Laboratorio" formControlName="laboratorio_id">
                    <option value="Selecciona un Laboratorio..." selected>Selecciona un Laboratorio...</option>
                    <option *ngFor="let lab of mis_lab" [value]="lab.id_laboratorio">
                      {{lab.laboratorio}}
                    </option>
                  </select>
                  <div *ngIf="laboratorio_id.invalid && (laboratorio_id.dirty || laboratorio_id.touched)" class="alert alert-danger">
                     <div *ngIf="laboratorio_id.errors.required">
                      Laboratorio requerido.
                     </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6  col-12 ">
                <div class="form-group">
                    <label>Fecha de Nacimiento</label>
                    <input type="date"  id="fechaDeNac" required  name="fechaDeNac" class="form-control" formControlName="fechaDeNac">
                    <div *ngIf="fechaDeNac.invalid && (fechaDeNac.dirty || fechaDeNac.touched)"
                         class="alert alert-danger">            
                      <div *ngIf="fechaDeNac.errors.required">
                        Fecha de nacimiento requerida.
                      </div>
                   </div>
                </div>
              </div>
            </div> <!--FIN ROW-->
            <div class="btn-group"  style="float: right; padding-right: 10%;">
              <button class="btn btn-info" *ngIf="hidden == true"  (click)="mostrar()">
                <span><b> Cambiar Datos. </b></span>
              </button>
              <button class="btn btn-success" *ngIf="!hidden" [disabled]="userForm.invalid" (click)="actualizarUsuario(  ); ">
                <span><b> Guardar Cambios. </b></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/Labo.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            
              <img class="avatar border-gray" src="{{this.imgUrl}}" (click)="subirFoto()" alt="...">
            
              <h5 class="title">{{this.userForm.value.nombre + ' '+ this.userForm.value.apellido}}</h5>
              <p class="description">
              {{this.userForm.value.rol}}
              </p>
          </div>
        </div>
        <hr>
        <div class="button-container">
          <div class="font-icon-detail">
                <i class="now-ui-icons ui-1_email-85"></i>
                <p>{{this.userForm.value.email}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
