<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
          <i _ngcontent-c25="" class="now-ui-icons arrows-1_minimal-left pr-3" (click)="regresaUsuario();"></i>
          Crear Nuevo Usuario</h5>
        </div>
        <div class="card-body">
          <p style="color: red">{{crearMessage}}<p>
          <p style="color: green">{{crearMessageCargando}}<p>
          <form (ngSubmit)="onSubmit()" [formGroup]=userForm #formDir="ngForm">
            <div class="row">
              <div class="col-md-6 col-12 ">
                <div class="form-group">
                  <label for="rol_usuario_id">Rol</label> <!--tipo de credencial referido a puestos tales como jefe de laboratorio-->
                  <select   class="form-control"  id="rol_usuario_id"
                    required 
                    name="rol_usuario_id"
                    placeholder="Puesto" formControlName="rol_usuario_id">
                    <option value="Selecciona un rol..."  selected>Selecciona un rol...</option>
                    <option *ngFor="let puesto of mis_roles" [value]="puesto.id_rol_usuario">
                      {{puesto.rol}}
                    </option>
                  </select>
                 <div *ngIf="rol_usuario_id.invalid && (rol_usuario_id.dirty || rol_usuario_id.touched)" class="alert alert-danger">
                   <div *ngIf="rol_usuario_id.errors.required">
                   Puesto requerido.
                </div>
              </div>
                </div>
              </div>
               <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="laboratorio_id">Laboratorio</label> 
                  <select   class="form-control"  id="laboratorio_id"
                    required name="laboratorio_id" placeholder="Laboratorio" formControlName="laboratorio_id">
                    <option value="Selecciona un Laboratorio..." selected>Selecciona un Laboratorio...</option>
                    <option *ngFor="let lab of mis_lab" [value]="lab.id_laboratorio">
                      {{lab.laboratorio}}
                    </option>
                  </select>
                <div *ngIf="laboratorio_id.invalid && (laboratorio_id.dirty || laboratorio_id.touched)" class="alert alert-danger">
                   <div *ngIf="laboratorio_id.errors.required">
                    Laboratorio requerido.
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
         <div class="col-md-6 col-12 ">
                <div class="form-group">
                  <label for="email">Correo Electronico</label>
                  <input type="email" id="email"   required   class="form-control" name="email" placeholder="mail@lacocs.com" formControlName="email" >
                  <div *ngIf="email.errors && (email.dirty || email.touched)"
              class="alert alert-danger">
              <div *ngIf="email.errors.required">Correo requerido.</div>
              <div *ngIf="email.errors.pattern">El correo debe contener @</div>
             </div>
              </div>
         </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                 <label for="contrasena" >Contraseña</label>
                  <input type="password" id="contrasena" required   class="form-control" name="contrasena" placeholder="Contrase&ntilde;a" formControlName="contrasena" >
                   <div *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)" class="alert alert-danger">
                   <div *ngIf="contrasena.errors.required">
                    Contrase&ntilde;a requerido.
                  </div>
                </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" id="nombre"  required   name="nombre" class="form-control" placeholder="Nombre" formControlName="nombre" >
                 <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
              class="alert alert-danger">            
              <div *ngIf="nombre.errors.required">
              Nombre requerido.
              </div>
            </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Apellidos</label>
                  <input type="text" id="apellido"  required name="apellido" class="form-control" placeholder="Apellidos" formControlName="apellido" >
                 <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
              class="alert alert-danger">            
              <div *ngIf="apellido.errors.required">
                   Apellido requerido.
                 </div>
                </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="nss"> N&uacute;mero de Seguridad Social</label>
                  <input type="nss" id="nss"   class="form-control" name="nss" placeholder="555501234" formControlName="nss">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="fechaDeNac">Fecha de Nacimiento.</label>
                  <input type="date"  id="fechaDeNac" required  name="fechaDeNac" class="form-control" formControlName="fechaDeNac">
                 <div *ngIf="fechaDeNac.invalid && (fechaDeNac.dirty || fechaDeNac.touched)"
              class="alert alert-danger">            
              <div *ngIf="fechaDeNac.errors.required">
                    Fecha de nacimiento requerida.
                  </div>
                </div>
                </div>
              </div>
            </div>

           
            <button  type="submit" class="btn btn-success" [disabled]="userForm.invalid"  (click)="crearUsuario( ); ">
              <span><b> Guardar Cambios. </b></span>
            </button>

          </form>
        </div>
      </div>
    </div>
    
</div>

