<div [ngClass]="{'loading':true ,'loading-visible': cargando != 0 }">
    <div class="loader-container">
        <i class="now-ui-icons loader_refresh spin"></i> 
    </div>
</div>

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
            <i _ngcontent-c25="" class="now-ui-icons arrows-1_minimal-left pr-3" (click)="regresaHerramientas();"></i>
            Herramienta No. {{this.herramientaForm.value.id_herramienta}}
          </h5>
        </div>
        <div class="card-body">
                    <form (ngSubmit)="onSubmit()" [formGroup]=herramientaForm #formDir="ngForm">

                      <div class="row">
                <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="id_herramienta">Ctrl</label>
                  <input type="text"  id="id_herramienta"  
                  class="form-control"  required
                  name="id_herramienta" placeholder="" formControlName="id_herramienta">
                </div>
                </div>
              </div>
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="herramienta_tipo_id">Tipos</label>
                  <select  class="form-control" id="herramienta_tipo_id"
                    required 
                    name="herramienta_tipo_id"
                    placeholder="Tipos"  formControlName="herramienta_tipo_id">

                    <option *ngFor="let tipo of mis_tipos" [value]="tipo.id_herramienta_tipo">
                      {{tipo.tipo}}
                    </option>
                  </select>
                 <div *ngIf="herramienta_tipo_id.invalid && (herramienta_tipo_id.dirty || herramienta_tipo_id.touched)" class="alert alert-danger">
                   <div *ngIf="herramienta_tipo_id.errors.required">
                   Tipo de herramienta requerido.
                </div>
              </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                  <div class="form-group">
                  <label for="placas">Placas/Identificador</label>
                  <input type="text" id="placas" class="form-control" 
                  name="placas" placeholder="" formControlName="placas" >
              </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="fechaDeCompra"> Fecha de compra.</label>
                  <input type="date" id="fechaDeCompra" class="form-control" name="fechaDeCompra" placeholder="" required formControlName="fechaDeCompra" >
                 <div *ngIf="fechaDeCompra.invalid && (fechaDeCompra.dirty || fechaDeCompra.touched)" class="alert alert-danger">
                   <div *ngIf="fechaDeCompra.errors.required">
                   Fecha de compra requerida.
                </div>
              </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="condicion">Condicion</label>
                  <select type="text" id="condicion" required name="condicion" class="form-control" placeholder="Condicion" formControlName="condicion"  >
                    <option value="" [disabled]="true">Selecciona la condici&oacute;n...</option>
                    <option *ngFor="let condicion of condi" [value]="condicion.id">
                      {{condicion.condicion}}
                    </option>
                  </select>
                <div *ngIf="condicion.invalid && (condicion.dirty || condicion.touched)" class="alert alert-danger">
                   <div *ngIf="condicion.errors.required">
                   Condicion requerida.
                </div>
              </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-12">
                  <div class="form-group">
                    <label for="observaciones">Observaciones</label>
                    <textarea type="text" id="observaciones"  
                    class="form-control" 
                    name="observaciones" placeholder="" formControlName="observaciones">
                    </textarea>
                  </div>
              </div>
            </div>

            <div class="btn-group"  style="float: right; padding-right: 10%;">
              <button class="btn btn-info" *ngIf="hidden == true"  (click)="mostrar()">
                <span><b> Cambiar Datos. </b></span>
              </button>
            <button class="btn btn-success" *ngIf="!hidden" [disabled]="herramientaForm.invalid" (click)="actualizarHerramienta( );">
              <span><b> Guardar Cambios. </b></span>
            </button>
          </div>
          </form>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card card">
         <div class="image">
          <img src="../assets/img/Labo.jpg" alt="...">
            </div>
        <div class="card-body">
          <div class="author">
           
              <div class="col-md-6 ml-auto mr-auto">
                    <button type="button" class="btn btn-danger btn-round " (click)="desactivarHerramienta()" *ngIf="desBut">Desactivar</button>
                    <button type="button" class="btn btn-success btn-round " (click)="activarHerramienta()" *ngIf="actBut">Activar</button>
              </div>
              <div class="col-md-6 ml-auto mr-auto">
                    <button type="button" class="btn btn-warning btn-round " (click)="verHistorial()" *ngIf="this.His">Mostrar Historial</button>
                    <button type="button" class="btn btn-default btn-round " (click)="verHistorial()" *ngIf="!this.His">Ocultar Historial</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.His" class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <ag-grid-angular 
            #agGrid
            id="myGrid"
            style="width: 100%; height: 600px;" 
            class="ag-theme-balham"
            [enableSorting]="true"
            [rowData]="rowData" 
            [columnDefs]="columnDefs"
            [enableFilter]="true"
            [enableColResize]="true"
            [colResizeDefault]="false"
            [suppressAutoSize]="true"
            [rowSelection]="rowSelection"
            (selectionChanged)="onSelectionChanged($event)"
            (gridReady)="onGridReady($event)"
            >
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>
