<div [ngClass]="{'loading':true ,'loading-visible': cargando != 0 }">
    <div class="loader-container">
        <i class="now-ui-icons loader_refresh spin"></i> 
    </div>
</div>

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Configuración de Perfil</h5>
        </div>
        <div class="card-body">
           <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="row">
              <div class="col-md-6 col-12 ">
                <div class="form-group">
                  <label for="id_usuario">ID Usuario</label> 
                  <input type="text"  disabled="" class="form-control" id="id_usuario"
                    required [(ngModel)]="model.id_usuario"
                    name="id_usuario"
                    placeholder="Puesto" #id_usuario="ngModel">
                  <div [hidden]="id_usuario.valid || id_usuario.pristine"  class="alert alert-danger">
                    ID Usuario requerido.
                </div>
                </div>
              </div>

              <div class="col-md-6 col-12 ">
                <div class="form-group">
                  <label for="rol_usuario_id">Rol</label> <!--tipo de credencial referido a puestos tales como jefe de laboratorio-->
                  <select   class="form-control" disabled="" id="rol_usuario_id"
                    required [(ngModel)]="model.rol_usuario_id"
                    name="rol_usuario_id"
                    placeholder="Puesto" #rol_usuario_id="ngModel">
                    <option value="" [disabled]="true">Selecciona un rol...</option>
                    <option *ngFor="let puesto of mis_roles" [value]="puesto.id_rol_usuario">
                      {{puesto.rol}}
                    </option>
                  </select>
                  <div [hidden]="rol_usuario_id.valid || rol_usuario_id.pristine"  class="alert alert-danger">
                    Rol requerido.
                  </div>
                </div>
              </div>
            </div>
              <div class="row">
              <div class="col-md-6 col-12 ">
                <div class="form-group">
                  <label for="email">Correo Electronico</label>
                  <input type="email" id="email" [disabled]="!hidden"  required [(ngModel)]="model.email" class="form-control" name="email" placeholder="mail@lacocs.com" #email="ngModel">
                  <div [hidden]="email.valid ||email.pristine"  class="alert alert-danger">
                    Correo requerido.
                </div>
              </div>
                </div>
                  <div class=" col-md-6 col-12">                
                <div class="form-group">
                  <label for="nss"> N&uacute;mero de Seguridad Social</label>
                  <input type="nss" id="nss" [disabled]="!hidden"  [(ngModel)]="model.nss" class="form-control" name="nss" placeholder="mail@lacocs.com" #nss="ngModel">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12 ">
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" id="nombre" [disabled]="!hidden" required [(ngModel)]="model.nombre" name="nombre" class="form-control" placeholder="Nombre" #nombre="ngModel">
                   <div [hidden]="nombre.valid ||nombre.pristine"  class="alert alert-danger">
                    Nombre requerido.
                </div>
                </div>
              </div>
              <div class=" col-md-6 col-12 ">
                <div class="form-group">
                  <label>Apellidos</label>
                  <input type="text" id="apellido" [disabled]="!hidden" required [(ngModel)]="model.apellido" name="apellido" class="form-control" placeholder="Apellidos" #apellido="ngModel">
                   <div [hidden]="apellido.valid ||apellido.pristine"  class="alert alert-danger">
                   Apellido requerido.
                </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6  col-12 ">
                <div class="form-group">
                  <label for="laboratorio_id">Laboratorio</label> 
                  <select   class="form-control" [disabled]="!hidden" id="laboratorio_id"
                    required [(ngModel)]="model.laboratorio_id"
                    name="laboratorio_id"
                    placeholder="Laboratorio" #laboratorio_id="ngModel">
                     <option value="" [disabled]="true">Selecciona un Laboratorio...</option>
                    <option *ngFor="let lab of mis_lab" [value]="lab.id_laboratorio">
                      {{lab.laboratorio}}
                    </option>
                  </select>
                  <div [hidden]="laboratorio_id.valid || laboratorio_id.pristine"  class="alert alert-danger">
                    Laboratorio requerido.
                  </div>
                </div>
              </div>
              <div class="col-md-6  col-12 ">
                <div class="form-group">
                  <label>Fecha de Nacimiento</label>
                  <input type="date" [disabled]="!hidden" id="fechaDeNac" required [(ngModel)]="model.fechaDeNac" name="fechaDeNac"  class="form-control" #fechaDeNac="ngModel">
                   <div [hidden]="fechaDeNac.valid ||fechaDeNac.pristine"  class="alert alert-danger">
                    Fecha de nacimiento requerida.
                </div>
                </div>
              </div>
            </div>
            <div class="btn-group"  style="float: right; padding-right: 10%;" >
              <button class="btn btn-info" *ngIf="hidden == false"  (click)="mostrar()">
                <span><b> Cambiar Datos. </b></span>
              </button>
            <button class="btn btn-success" *ngIf="hidden" [disabled]="userForm.invalid" (click)="actualizarUsuario(nombre.value, apellido.value, laboratorio_id.value, nss.value, email.value, fechaDeNac.value, id_usuario.value,  rol_usuario_id.value ); ocultar();">
              <span><b> Guardar Cambios. </b></span>
            </button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/Labo.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            
              <img class="avatar border-gray" src="{{this.imgUrl}}" (click)="subirFoto()" alt="...">
            
              <h5 class="title">{{model.nombre + ' '+ model.apellido}}</h5>
            <p class="description">
              {{model.rol}}
            </p>
          </div>
        </div>
        <hr>
        <div class="button-container">
          <div class="font-icon-detail">
                <i class="now-ui-icons tech_mobile"></i>
                <p>2223567689</p>
          </div>
          <div class="font-icon-detail">
                <i class="now-ui-icons ui-1_email-85"></i>
                <p>{{model.email}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
