<div [ngClass]="{'loading':true ,'loading-visible': cargando != 0 }">
    <div class="loader-container">
        <i class="now-ui-icons loader_refresh spin"></i> 
    </div>
</div>

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title" style="display: flex;align-items: center; justify-content: center;">
            Resumen de certificaci&oacute;n en  {{this.usuario_salonForm.getRawValue().certificacion}}
          </h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
            <i _ngcontent-c25="" class="now-ui-icons arrows-1_minimal-left pr-3" (click)="regresaSalones();"></i>
          </h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]=usuario_salonForm #formDir="ngForm">
             <div class="row">
              <div class="col-md-12 col-12">
                <div class="form-group">
                  <label for="folio">Folio</label>
                  <input type="text" id="folio" class="form-control" required placeholder="Folio" formControlName="folio">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="id_usuario_salon">Ctrl</label>
                  <input type="text" id="id_usuario_salon" class="form-control" required placeholder="Ctrl" formControlName="id_usuario_salon">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="nombre">Nombre del empleado</label>
                  <input type="text" id="nombre" class="form-control" required placeholder="Nombre" formControlName="nombre">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="certificacion">Certificaci&oacute;n</label>
                  <input type="text" id="certificacion" class="form-control" required placeholder="Certificaci&oacute;n" formControlName="certificacion">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="id_salon">Ctrl Salon</label>
                  <input type="text" id="id_salon" class="form-control" required placeholder="Certificaci&oacute;n" formControlName="id_salon">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="diasValidos">Dias v&aacute;lidos</label>
                  <input type="text" id="diasValidos" class="form-control" required placeholder="Dias v&aacute;lidos" formControlName="diasValidos">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="fechaVigencia">Vigencia</label>
                  <input type="text" id="fechaVigencia" class="form-control" required placeholder="Vigencia" formControlName="fechaVigencia">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="asistencia">Asistencia</label>
                  <input type="text" id="asistencia" class="form-control" required placeholder="Asistencia" formControlName="asistencia">
                </div>
              </div>
               <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="asisteciaFecha">Fecha de asistencia</label>
                  <input type="text" id="asisteciaFecha" class="form-control" required placeholder="Fecha de asistencia" formControlName="asisteciaFecha">
                </div>
              </div>
            </div>
             <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="aprobada">Aprobada</label>
                  <input type="text" id="aprobada" class="form-control" required placeholder="Aprobada" formControlName="aprobada">
                </div>
              </div>
             <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="aprobadaFecha">Fecha de aprobaci&oacute;n</label>
                  <input type="text" id="aprobadaFecha" class="form-control" required placeholder="Fecha de calificaci&oacute;n" formControlName="aprobadaFecha">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" style="display: flex;align-items: center; justify-content: center;">C&oacute;digo-QR</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-12">
                <p style="text-align: center;"><b>Comprobante</b></p>
                <img class="imageDoc" [src]="this.qrFotoIcon" alt="...">
                <br>
                <button class="btn btn-info buttonDoc" (click)="subirDoc(1)">
                  <span><b> Cambiar Comprobante</b></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" style="display: flex;align-items: center; justify-content: center;">Comprobante</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-12">
                <p style="text-align: center;"><b>Comprobante</b></p>
                <img class="imageDoc" [src]="this.docIcon" (click)="abrirDoc()" alt="...">
                <br>
                <button class="btn btn-info buttonDoc" (click)="subirDoc(2)">
                  <span><b> Cambiar Comprobante</b></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
            Datos para QR
          </h5>          
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-12">
<textarea id="aprobada" rows="12" class="form-control">
Folio: {{prefijo}}-{{folioQR}}
Nombre: {{nombreQR}}
CURP: {{curpNo}}
OCUPACION: {{ocupacion}}
PUESTO: {{puesto}}
RAZON SOCIAL: {{razonSocial}}
RFC: {{rfc}}
CURSO: {{curso}}
HORAS: {{horas}}
PERIODO DE EJECUCION: {{periodoEje}}
AREA TEMATICA: {{areaTematica}}
CAPACITADOR: {{capacitador}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
