<div [ngClass]="{'loading':true ,'loading-visible': cargando != 0 }">
    <div class="loader-container">
        <i class="now-ui-icons loader_refresh spin"></i> 
    </div>
</div>

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
          <i _ngcontent-c25="" class="now-ui-icons arrows-1_minimal-left pr-3" (click)="regresaOrdenTrabajo();"></i>
          CONTROL DE CONCRETO HIDRAULICO</h5>
        </div>
        <div class="card-body">
         <form (ngSubmit)="onSubmit()" [formGroup]=creaCCHForm #formDir="ngForm">
            <div class="row">

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="informe">INFORME No</label>
                  <input type="text" id="informe" class="form-control" required 
                  name="informe" placeholder="Escriba el no. Informe" formControlName="informe">
                  <div *ngIf="informe.invalid && (informe.dirty || informe.touched)"
                    class="alert alert-danger">
                    <div *ngIf="informe.errors.required">
                       Informe No. requerido.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Tipo de Especimen</label>
                  <select type="text" id="especimen" required name="especimen" class="form-control" placeholder="Especimen" formControlName="especimen"  >
                    <option value="" [disabled]="true">Selecciona el tipo de especimen...</option>
                    <option *ngFor="let especimen of espec" [value]="especimen.id">
                      {{especimen.especimen}}
                    </option>
                  </select>
                  <div *ngIf="especimen.invalid && (especimen.dirty || especimen.touched)" class="alert alert-danger">
                   <div *ngIf="especimen.errors.required">
                   Tipo Especimen Requerido.
                   </div>
                  </div>
                </div>
              </div>

              
            </div> <!--FIN ROW-->
            <h6>Inventario de Intrumento</h6>
            <div class="row">
              <div class="col-md-6 col-12">
                 <div class="form-group">
                  <label for="cono">Cono</label>
                  <select  class="form-control" id="cono" 
                    required name="cono"
                    placeholder="Tipos"  formControlName="cono">
                    <option value="" [disabled]="true">Selecciona un cono...</option>
                    
                    <option *ngFor="let cono of mis_conos" [value]="cono.id_herramienta">
                      {{cono.placas}}
                    </option>
                  </select>
                  <div *ngIf="cono.invalid && (cono.dirty || cono.touched)" class="alert alert-danger">
                   <div *ngIf="cono.errors.required">
                   Cono Requerido.
                   </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                 <div class="form-group">
                  <label for="varilla">Varilla</label>
                  <select  class="form-control" id="varilla" 
                    required name="varilla"
                    placeholder="Tipos"  formControlName="varilla">
                    <option value="" [disabled]="true">Selecciona una varilla...</option>
                    
                    <option *ngFor="let varilla of mis_varillas" [value]="varilla.id_herramienta">
                      {{varilla.placas}}
                    </option>
                  </select>
                  <div *ngIf="varilla.invalid && (varilla.dirty || varilla.touched)" class="alert alert-danger">
                   <div *ngIf="varilla.errors.required">
                   Varilla Requerido.
                   </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-12">
                 <div class="form-group">
                  <label for="flexometro">Flexometro</label>
                  <select  class="form-control" id="flexometro" 
                    required name="flexometro"
                    placeholder="Tipos"  formControlName="flexometro">
                    <option value="" [disabled]="true">Selecciona un flexometro...</option>
                    
                    <option *ngFor="let flexometro of mis_flexometro" [value]="flexometro.id_herramienta">
                      {{flexometro.placas}}
                    </option>
                  </select>
                  <div *ngIf="flexometro.invalid && (flexometro.dirty || flexometro.touched)" class="alert alert-danger">
                   <div *ngIf="flexometro.errors.required">
                   Flexometro Requerido.
                   </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                 <div class="form-group">
                  <label for="termometro">Termometro</label>
                  <select  class="form-control" id="termometro" 
                    required name="termometro"
                    placeholder="Tipos"  formControlName="termometro">
                    <option value="" [disabled]="true">Selecciona un termometro...</option>       
                    
                    <option *ngFor="let termometro of mis_termometro" [value]="termometro.id_herramienta">
                      {{termometro.placas}}
                    </option>
                  </select>
                  <div *ngIf="termometro.invalid && (termometro.dirty || termometro.touched)" class="alert alert-danger">
                   <div *ngIf="termometro.errors.required">
                   Termometro Requerido.
                   </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="btn-group" style="float: right; padding-right: 10%;">
            <button class="btn btn-success" [disabled]="creaCCHForm.invalid" (click)="crearFormatoCCH(); ">
              <span><b> Siguiente </b></span>
            </button>
          </div>
          </form>
        </div>
      </div>
    </div>
    
</div>
