<div [ngClass]="{'loading':true ,'loading-visible': cargando != 0 }">
    <div class="loader-container">
        <i class="now-ui-icons loader_refresh spin"></i> 
    </div>
</div>

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
            <i _ngcontent-c25="" class="now-ui-icons arrows-1_minimal-left pr-3" (click)="regresaProyecto();"></i>
            Crear Nueva Obra</h5>
          </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()"  [formGroup]=proyectoForm #formDir="ngForm" > <!-- INICIO DEL FORM -->
            <div class="row"> <!-- INICIO PRIMER ROW -->
              <div class="col-md-6 col-12"> <!-- INICIO SEGUNDO CAMPO -->
                <div class="form-group">
                  <label for="proyecto">Proyecto</label>
                  <input type="text" id="proyecto"  required class="form-control" placeholder="Proyecto" formControlName="proyecto">
                  <div *ngIf="proyecto.invalid && (proyecto.dirty || proyecto.touched)"
                    class="alert alert-danger">    
                    <div *ngIf="proyecto.errors.required">
                    Proyecto requerido.
                    </div>
                  </div>
                </div>
              </div> <!-- FIN SEGUNDO CAMPO -->  
              <div class="col-md-6 col-12"> <!-- INICIO TERCER CAMPO -->
                <div class="form-group">
                  <label>Nombre contable</label>
                  <input type="text" id="nombreContable"  required   name="nombreContable" class="form-control" placeholder="Nombre contable"  formControlName="nombreContable" >
                  <div *ngIf="nombreContable.invalid && (nombreContable.dirty || nombreContable.touched)"class="alert alert-danger">            
                    <div *ngIf="nombreContable.errors.required">
                      Nombre contable requerido.
                    </div>
                  </div>
                </div>
              </div><!-- FIN TERCER CAMPO -->
            </div> <!-- FIN PRIMER ROW -->
            <div class="row"> <!-- INICIO SEGUNDO ROW -->
              <div class="col-md-6 col-12"> <!-- INICIO NOVENO CAMPO -->
                <div class="form-group">
                  <label for="cliente">Cliente</label>
                  <input type="text" id="cliente"  required  name="cliente" class="form-control" placeholder="Cliente" formControlName="cliente">
                  <div *ngIf="cliente.invalid && (cliente.dirty || cliente.touched)" class="alert alert-danger">            
                    <div *ngIf="cliente.errors.required"> Cliente requerido.</div>
                  </div>
                </div>
              </div><!-- FIN NOVENO CAMPO -->  
              <div class="col-md-6 col-12"> <!-- INICIO OCTAVO CAMPO -->
                <div class="form-group">
                  <label for="pm_id">PM</label> <!--tipo de credencial referido al catalogo de clientes.-->
                  <select   class="form-control"  id="pm_id" required name="id_concretera" placeholder="Concretera" formControlName="pm_id" >
                    <option value=""  selected>Selecciona un PM...</option>
                    <option *ngFor="let pm of mis_pm" [value]="pm.id_usuario">
                      {{pm.nombre}}
                    </option>
                  </select>
                  <div *ngIf="pm_id.invalid && (pm_id.dirty || pm_id.touched)" class="alert alert-danger">            
                    <div *ngIf="pm_id.errors.required">
                      PM requerida.
                    </div>
                  </div>
                </div>
              </div> <!-- FIN OCTAVO CAMPO -->
            </div><!-- FIN SEGUNDO ROW -->

            
            <div class="row"> 
              <div class="col-md-12 col-12">
                  <p style="color: orange">{{cargandoMessage}}<p>
                  <p style="color: green">{{actualizarMessageCargando}}<p>
              </div>
            </div>

            <div class="btn-group"  style="float: right; padding-right: 10%;">
             
              <button class="btn btn-success" *ngIf="true" [disabled]="proyectoForm.invalid" (click)="crearProyecto();">
                <span><b> Crear proyecto</b></span>
              </button>
            </div>
          </form> <!-- FIN DEL FORM -->
        </div>
      </div>
    </div>
    
</div>

