<div [ngClass]="{'loading':true ,'loading-visible': cargando != 0 }">
    <div class="loader-container">
        <i class="now-ui-icons loader_refresh spin"></i> 
    </div>
</div>
<div class="main-panelL">   
    <div class="col-md-6 ml-auto mr-auto text-center">
      <div class="cardL">
        <div class="card-header">
        	<img src="./assets/img/logo_wfi_3.png">
          <h4 class="card-title">Iniciar Sesión </h4>
        </div>
        <div class="card-body">
          <div class="col-lg px-7">
          <div class="form-group">
                  <label>Correo</label>
                  <input type="text" class="form-control" placeholder="Correo" #user>
                </div>
                
                <div class="form-group">
                  <label>Contraseña</label>
                  <input class="form-control" placeholder="Contraseña" type="password" #password>
                </div>
        </div>       
        <div class="col-md-6 ml-auto mr-auto text-center">

       <button  type="button" class="btn btn-info" (click)="login(user.value, password.value);" >
             <!-- <a href="/user-profile"> Link de referecia provisional -->
                <span><b> Iniciar Sesión </b></span>
        </button>
              <p>{{loginMessage}}</p>
                </div>
      </div>
    </div>
</div>
