        <div class="btn-group" style="float: right; padding-right: 5%;">
          <button class="btn btn-success"  *ngIf="!historial && !asignar"  (click)="historialCompleto();">
            <span><b>Historial completo</b></span>
          </button>
           <button class="btn btn-default"  *ngIf="historial || asignar"  (click)="historialActual();">
            <span><b>Regresar</b></span>
          </button>
        </div>
        <div class="btn-group" style="float: right; padding-right: 5%;">
          <button class="btn btn-info"  *ngIf="!asignar && !historial"  (click)="disponibleCompleto();">
            <span><b>Asignar/Desasignar Equipo</b></span>
          </button>
        </div>
        <br><br><br>
          <ag-grid-angular 
            #agGrid
            id="myGrid"
            style="width: 100%; height: 200px;" 
            class="ag-theme-balham"
            [enableSorting]="true"
            [rowData]="rowData" 
            [columnDefs]="columnDefs"
            [enableFilter]="true"
            [enableColResize]="true"
            [colResizeDefault]="false"
            [suppressAutoSize]="true"
            [rowSelection]="rowSelection"
            [rowClassRules]="rowClassRules"
            (selectionChanged)="onSelectionChanged($event)"
            (gridReady)="onGridReady($event)"
            >
          </ag-grid-angular>
    
    
  

