<div [ngClass]="{'loading':true ,'loading-visible': cargando != 0 }">
    <div class="loader-container">
        <i class="now-ui-icons loader_refresh spin"></i> 
    </div>
</div>

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
   <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="btn-group" style="float: right; padding-right: 5%;">
            <button class="btn btn-success" (click)="crearUsuario();">
              <span><b> Nuevo Usuario </b></span>
            </button>
          </div>
          <div class="btn-group" style="float: right; padding-right: 5%;">
            <button class="btn btn-default" (click)="quitarHistorial();" *ngIf="historial">
              <span><b> regresar </b></span>
            </button>
          </div>
          <div class="btn-group" style="float: right; padding-right: 5%;">
             <button class="btn btn-info" (click)="cargarHistorial();" *ngIf="!historial">
              <span><b> Mostrar todos </b></span>
            </button>
          </div>
          <h4 class="card-title"> Usuarios: </h4>
        </div>
        <div class="card-body">
          <div id="tarjetaMasDetalles" *ngIf="hidden">
            <div class="row">
              <div class="col-md-3">
                <div class="row">  
                      <img class="img-usuario" src="{{this.imgUrl}}" alt="..."> 
                </div>
              </div>
              <div class="col-md-9">
                 <div class="row">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>
                              <b>ID</b>
                            </td>
                            <td>
                              {{id}}
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <b>Rol</b>
                            </td>
                            <td>
                              {{rol}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div> 
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                  <div class="row">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>
                              <b>Nombre</b>
                            </td>
                            <td>
                              {{nombre}}
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <b>Apellido</b>
                            </td>
                            <td>
                              {{apellido}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div> 
                  </div>
              </div>
              <div class="col-md-3">
                <div class="row" align="center">
                    <button type="button" class="btn btn-default btn-round" (click)="detalleUsuario();">Detalles</button>
                </div>
                <div id="MenosDetalles">
                  <div class="row">
                      <button type="button" class="btn btn-primary btn-link" (click)="menosDetalles()">Menos detalles</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ag-grid-angular 
            #agGrid
            id="myGrid"
            style="width: 100%; height: 600px;" 
            class="ag-theme-balham"
            [enableSorting]="true"
            [rowData]="rowData" 
            [columnDefs]="columnDefs"
            [enableFilter]="true"
            [enableColResize]="true"
            [colResizeDefault]="false"
            [suppressAutoSize]="true"
            [rowSelection]="rowSelection"
            [rowClassRules]="rowClassRules"
            (selectionChanged)="onSelectionChanged($event)"
            (gridReady)="onGridReady($event)"
            >
          </ag-grid-angular>
          </div>
       
        </div>
      </div>
    </div>
  
</div>
